# DS-SF-23 | Exploratory Data Analysis on Kaggle Dataset | Shelter Animal Outcomes

(https://www.kaggle.com/c/shelter-animal-outcomes)

## CODE TO GET YOU STARTED

In [1]:
import os
import numpy as np
import pandas as pd
import csv
import re

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [2]:
df = pd.read_csv(os.path.join('..', 'datasets', 'shelter-animal-outcomes.csv.gz'), index_col = 'AnimalID')

In [3]:
'Male' in 'Neutered Male'

True

In [4]:
'Female in Neutered Male'

'Female in Neutered Male'

In [5]:
'Male' in df.SexuponOutcome

False

In [15]:
df.SexuponOutcome = df.SexuponOutcome.apply(lambda sex: 'Unknown' if pd.isnull(sex))

SyntaxError: invalid syntax (<ipython-input-15-88a752a0ad21>, line 1)

In [16]:
is_male = df.SexuponOutcome.apply(lambda sex: 'Male' in sex)

TypeError: argument of type 'float' is not iterable

In [17]:
is_female = df.SexuponOutcome.apply(lambda sex: 'Female' in sex)

TypeError: argument of type 'float' is not iterable

In [ ]:
df.Sex = 'Unknown' #good either way

In [ ]:
df.Sex

In [18]:
df.Sex

AttributeError: 'DataFrame' object has no attribute 'Sex'

In [19]:
df.Sex.value_counts()

AttributeError: 'DataFrame' object has no attribute 'Sex'

In [ ]:
df.loc[is_male, 'Sex'] = 'Male'

In [20]:
df.Sex.value_counts

AttributeError: 'DataFrame' object has no attribute 'Sex'

In [21]:
df.loc[is_female, 'Sex'] = 'Female'

NameError: name 'is_female' is not defined

In [ ]:
df.Sex.value_counts()

In [22]:
df.AgeuponOutcome.unique()

array(['1 year', '2 years', '3 weeks', '1 month', '5 months', '4 years',
       '3 months', '2 weeks', '2 months', '10 months', '6 months',
       '5 years', '7 years', '3 years', '4 months', '12 years', '9 years',
       '6 years', '1 weeks', '11 years', '4 weeks', '7 months', '8 years',
       '11 months', '4 days', '9 months', '8 months', '15 years',
       '10 years', '1 week', '0 years', '14 years', '3 days', '6 days',
       '5 days', '5 weeks', '2 days', '16 years', '1 day', '13 years', nan,
       '17 years', '18 years', '19 years', '20 years'], dtype=object)

In [93]:
a = '133000 years'

In [94]:
a

'133000 years'

In [95]:
import re

In [96]:
match = re.search(r'(\d+) (\S+[^s])', a)

In [97]:
int(match.group(1))

133000

In [98]:
match.group(2)

'year'

In [100]:
len(df.Breed.unique())

1380

In [101]:
df.Breed

AnimalID
A671945          Shetland Sheepdog Mix
A656520         Domestic Shorthair Mix
A686464                   Pit Bull Mix
A683430         Domestic Shorthair Mix
A667013    Lhasa Apso/Miniature Poodle
                      ...
A702446         Domestic Shorthair Mix
A718934         Domestic Shorthair Mix
A698128        Old English Bulldog Mix
A677478         Domestic Shorthair Mix
A706629         Domestic Shorthair Mix
Name: Breed, dtype: object