# DS-SF-23 | Codealong 03 | Introduction to Exploratory Data Analysis

In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option('display.max_rows', 10)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

%matplotlib inline
plt.style.use('ggplot')

//anaconda/envs/snakes/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

RuntimeError: Python is not installed as a framework. The Mac OS X backend will not be able to function correctly if Python is not installed as a framework. See the Python documentation for more information on installing Python as a framework on Mac OS X. Please either reinstall Python as a framework, or try one of the other backends. If you are Working with Matplotlib in a virtual enviroment see 'Working with Matplotlib in Virtual environments' in the Matplotlib FAQ

In [3]:
df = pd.read_csv(os.path.join('..', 'datasets', 'zillow-03-start.csv'), index_col = 'ID')

In [4]:
df

,Address,DateOfSale,SalePrice,IsAStudio,BedCount,BathCount,Size,LotSize,BuiltInYear
ID,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000.0,0.0,1.0,NaN,550.0,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",11/30/15,2150000.0,0.0,NaN,2.0,1430.0,2435.0,1948.0
15063609,"819 Francisco St, San Francisco, CA",11/12/15,5600000.0,0.0,2.0,3.5,2040.0,3920.0,1976.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",12/11/15,1500000.0,0.0,1.0,1.0,1060.0,NaN,1930.0
15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,970000.0,0.0,2.0,2.0,1299.0,NaN,1993.0
15064295,"111 Chestnut St APT 702, San Francisco, CA",12/17/15,940000.0,0.0,2.0,2.0,1033.0,NaN,1993.0
15064391,"1821 Grant Ave APT 101, San Francisco, CA",12/15/15,835000.0,0.0,1.0,1.0,1048.0,NaN,1975.0
15064536,"2300 Leavenworth St, San Francisco, CA",12/4/15,2830000.0,0.0,3.0,2.0,2115.0,1271.0,1913.0
15064640,"1047-1049 Lombard St, San Francisco, CA",1/14/16,4050000.0,1.0,NaN,NaN,4102.0,3049.0,1948.0
15064669,"1055 Lombard St # C, San Francisco, CA",12/31/15,2190000.0,0.0,2.0,3.0,1182.0,NaN,1986.0
15065032,"101 Lombard St APT 116E, San Francisco, CA",12/7/15,800000.0,0.0,1.0,1.0,1000.0,NaN,1983.0
15065140,"1407 Montgomery St APT 2, San Francisco, CA",1/28/16,976000.0,0.0,1.0,1.0,1000.0,NaN,1870.0
15065727,"1360 Montgomery St APT 1, San Francisco, CA",11/16/15,720000.0,0.0,1.0,1.0,552.0,NaN,1937.0
15065810,"1327-1329 Kearny St, San Francisco, CA",11/25/15,2250000.0,0.0,NaN,4.0,2658.0,1600.0,1906.0
15065946,"44 Macondray Ln APT 2E, San Francisco, CA",11/30/15,1290000.0,0.0,2.0,2.0,1165.0,NaN,1980.0
15066001,"1070 Green St APT 201, San Francisco, CA",11/18/15,2900000.0,0.0,2.0,2.0,1465.0,NaN,1963.0
15066036,"1070 Green St APT 1402, San Francisco, CA",12/31/15,2600000.0,0.0,3.0,2.5,2017.0,NaN,1963.0
15066085,"1907 Leavenworth St APT 8, San Francisco, CA",11/12/15,908000.0,0.0,2.0,1.0,956.0,NaN,1907.0
15066201,"1101 Green St # 303, San Francisco, CA",11/16/15,1210000.0,0.0,2.0,1.0,1003.0,NaN,1930.0
15066281,"1807 Jones St, San Francisco, CA",12/15/15,1700000.0,0.0,2.0,2.0,1467.0,3023.0,1922.0
15066344,"999 Green St APT 905, San Francisco, CA",12/10/15,1280000.0,0.0,1.0,1.0,986.0,NaN,1964.0
15066608,"455 Vallejo St APT 111, San Francisco, CA",12/16/15,875000.0,0.0,1.0,1.0,825.0,NaN,1973.0
15066839,"1163-1165 Vallejo St, San Francisco, CA",12/1/15,300000.0,0.0,NaN,2.0,2344.0,1376.0,1913.0
15066959,"1300 Pacific Ave, San Francisco, CA",1/14/16,425000.0,1.0,NaN,2.0,989.0,NaN,1910.0
15067302,"948 Jackson St, San Francisco, CA",11/13/15,1950000.0,0.0,NaN,4.0,4362.0,1459.0,1908.0
15067583,"946 Stockton St APT 6B, San Francisco, CA",12/18/15,775000.0,0.0,NaN,2.0,710.0,NaN,1970.0
15067604,"946 Stockton St APT 9E, San Francisco, CA",12/2/15,705000.0,0.0,2.0,2.0,744.0,NaN,1970.0
15067755,"1250 Clay St APT 306, San Francisco, CA",1/10/16,695000.0,0.0,1.0,1.0,541.0,NaN,1950.0
15067890,"1250 Jones St APT 503, San Francisco, CA",12/4/15,1410000.0,0.0,1.0,1.0,1250.0,NaN,1929.0
15067896,"1250 Jones St APT 802, San Francisco, CA",12/15/15,1680000.0,0.0,1.0,1.0,1115.0,NaN,1929.0
...,...,...,...,...,...,...,...,...,...
2100992607,"2137 Pine St, San Francisco, CA",1/15/16,1550000.0,0.0,4.0,2.5,1632.0,NaN,NaN
2100994004,"409 Miguel St, San Francisco, CA",12/9/15,510000.0,0.0,1.0,1.0,400.0,NaN,NaN
2101028916,"251 Missouri St, San Francisco, CA",12/17/15,2450000.0,0.0,4.0,3.0,2301.0,NaN,1900.0
2101094207,"1650 Florida St, San Francisco, CA",11/29/15,970000.0,0.0,3.0,1.0,NaN,NaN,1904.0
2101105851,"41 Collingwood St, San Francisco, CA",12/10/15,1300000.0,0.0,3.0,1.0,1496.0,NaN,1908.0
2101116542,"2753 Bryant St, San Francisco, CA",1/14/16,1700000.0,0.0,9.0,3.0,4005.0,NaN,1900.0
2101147349,"244 Precita Ave, San Francisco, CA",11/26/15,785000.0,0.0,1.0,1.0,625.0,NaN,1908.0
2101153805,"6 Rossi Ave, San Francisco, CA",12/2/15,1150000.0,0.0,3.0,1.0,1912.0,NaN,1941.0
2101156735,"333 Potrero Ave, San Francisco, CA",1/5/16,1140000.0,1.0,NaN,NaN,1776.0,3746.0,1905.0
2101167573,"1340 Union St, San Francisco, CA",1/25/16,1250000.0,0.0,2.0,2.0,1108.0,NaN,1951.0
2101169168,"688 Douglass St, San Francisco, CA",11/10/15,3150000.0,1.0,NaN,NaN,3500.0,2495.0,1908.0
2101175813,"414 Linden St, San Francisco, CA",12/13/15,835000.0,0.0,1.0,1.0,NaN,NaN,1909.0
2101331127,"1408 31st Ave APT 303, San Francisco, CA",12/28/15,890000.0,0.0,2.0,2.0,1424.0,NaN,2008.0
2101505254,"333 Beale St, San Francisco, CA",12/3/15,1400000.0,0.0,1.0,1.0,950.0,NaN,2015.0
2101588805,"82 Alvarado St, San Francisco, CA",11/19/15,750000.0,0.0,2.0,1.0,NaN,NaN,NaN
2101807538,"2619 Sacramento St, San Francisco, CA",12/2/15,2900000.0,1.0,NaN,NaN,NaN,2038.0,1900.0
2102385068,"129 Central Ave, San Francisco, CA",12/1/15,1800000.0,0.0,3.0,2.0,NaN,NaN,1905.0
2102906272,"444 Linden St, San Francisco, CA",12/14/15,5800.0,NaN,NaN,NaN,NaN,NaN,NaN
2106229715,"2595 38th Ave, San Francisco, CA",1/19/16,1240000.0,0.0,3.0,3.0,2414.0,1306.0,1943.0
2108411930,"3500 19th St, San Francisco, CA",12/29/15,1730000.0,0.0,2.0,2.5,1500.0,NaN,2013.0
2108546010,"1738 Lombard St APT 4, San Francisco, CA",1/14/16,1400000.0,0.0,2.0,2.0,NaN,NaN,2004.0
2114498518,"201 Sansome St UNIT 501, San Francisco, CA",1/26/16,757500.0,0.0,1.0,1.0,658.0,NaN,1909.0
2121221385,"925 Larkin St, San Francisco, CA",11/30/15,1430000.0,0.0,NaN,NaN,6600.0,NaN,1907.0
2121978635,"829 Folsom St UNIT 906, San Francisco, CA",12/6/15,675000.0,0.0,1.0,1.0,557.0,NaN,2010.0
2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2750000.0,1.0,NaN,NaN,3655.0,NaN,1883.0
2124214951,"412 Green St APT A, San Francisco, CA",1/15/16,390000.0,1.0,NaN,1.0,264.0,NaN,2012.0
2126960082,"355 1st St UNIT 1905, San Francisco, CA",11/20/15,860000.0,0.0,1.0,1.0,691.0,NaN,2004.0
2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,830000.0,0.0,3.0,3.0,1738.0,2299.0,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,835000.0,0.0,2.0,2.0,1048.0,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",1/10/16,825000.0,0.0,1.0,1.0,900.0,NaN,1966.0

## Part A
- `.mean()`
- `.var()`, `.std()`

### `Series.mean()` - Compute the `Series` mean value

In [5]:
df.SalePrice.mean()

1397422.943

In [8]:
df.Size.mean()

1641.3009307135471

`Size` has nan values that `.mean()` skips.

In [9]:
df.IsAStudio.mean()

0.029411764705882353

About 3% of the properties sold are studios.  (Note that we are "dropping" the properties with no studio information)

### `DataFrame.mean()` - Compute the `DataFrame` mean value

In [10]:
df.mean()

SalePrice      1.397423e+06
IsAStudio      2.941176e-02
BedCount       2.572967e+00
BathCount      1.977548e+00
Size           1.641301e+03
LotSize        3.020640e+03
BuiltInYear    1.947533e+03
dtype: float64

`DataFrame.mean()` only applies to numerical columns.  Address and date of sales aren't included.

### `.var()` - Compute the unbiased variance (normalized by `N-1` by default)

In [11]:
df.var()

SalePrice      3.015131e+12
IsAStudio      2.857569e-02
BedCount       1.564729e+00
BathCount      1.277654e+00
Size           1.054762e+06
LotSize        8.142064e+06
BuiltInYear    1.445639e+03
dtype: float64

In [12]:
df.BedCount.var()

1.5647293928888633

### `.std()` - Compute the unbiased standard deviation (normalized by `N-1` by default)

In [13]:
df.std()

SalePrice      1.736413e+06
IsAStudio      1.690435e-01
BedCount       1.250891e+00
BathCount      1.130334e+00
Size           1.027016e+03
LotSize        2.853430e+03
BuiltInYear    3.802156e+01
dtype: float64

In [14]:
df.BedCount.std()

1.2508914392899422

## Part B
- `.median()`
- `.count()`, `.dropna()`, `.isnull()`
- `.min()`, `.max()`
- `.quantile()`
- `.describe()`

### `.median()` - Compute the median value

In [15]:
df.median()

SalePrice      1100000.0
IsAStudio            0.0
BedCount             2.0
BathCount            2.0
Size              1350.0
LotSize           2622.0
BuiltInYear       1939.0
dtype: float64

In [16]:
df.SalePrice.median()

1100000.0

### `.count()` - Compute the number of rows/observations and `.sum()` - Compute the sum and the values

In [17]:
df.BuiltInYear.mode()

0    1900.0
dtype: float64

In [18]:
df.count()

Address        1000
DateOfSale     1000
SalePrice      1000
IsAStudio       986
BedCount        836
BathCount       942
Size            967
LotSize         556
BuiltInYear     975
dtype: int64

In [19]:
df.IsAStudio.count()

986

`count()` counts the number of non-nan values:

In [20]:
len(df.IsAStudio.dropna())

986

In [22]:
df.IsAStudio.dropna().sum()

29.0

In [21]:
df.IsAStudio.isnull().sum()

14

Which leaves 14 houses for which we don't know if they are studios or not.

In [ ]:
df.IsAStudio.sum()

29 properties are studios.

### `.min()` and `.max()` - Compute the minimum and maximum values

In [ ]:
df.min()

In [23]:
df[df.SalePrice == df.SalePrice.min()]

,Address,DateOfSale,SalePrice,IsAStudio,BedCount,BathCount,Size,LotSize,BuiltInYear
ID,,,,,,,,,
15149005,"251-253 Missouri St, San Francisco, CA",12/23/15,1.0,0.0,7.0,6.0,2904.0,2482.0,1900.0

A 7 bedrooms/6 bathrooms house for $1.  What a bargain!

In [24]:
df.max()

Address        San Carlos St, Carmel, CA
DateOfSale                        2/9/16
SalePrice                       3.27e+07
IsAStudio                              1
BedCount                               9
BathCount                             14
Size                               11500
LotSize                            47916
BuiltInYear                         2015
dtype: object

In [25]:
df[df.SalePrice == df.SalePrice.max()]

,Address,DateOfSale,SalePrice,IsAStudio,BedCount,BathCount,Size,LotSize,BuiltInYear
ID,,,,,,,,,
15083161,"1825 Scott St, San Francisco, CA",11/23/15,32700000.0,0.0,NaN,1.0,1100.0,1694.0,1900.0

### `.quantile()` - Compute values at the given quantile

In [26]:
df.quantile(.5)

//anaconda/envs/snakes/lib/python2.7/site-packages/numpy/lib/function_base.py:3823: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

SalePrice      1100000.0
IsAStudio            NaN
BedCount             NaN
BathCount            NaN
Size                 NaN
LotSize              NaN
BuiltInYear          NaN
dtype: float64

In [27]:
df.median()

SalePrice      1100000.0
IsAStudio            0.0
BedCount             2.0
BathCount            2.0
Size              1350.0
LotSize           2622.0
BuiltInYear       1939.0
dtype: float64

In [28]:
df.quantile(.25)

SalePrice      800000.0
IsAStudio           NaN
BedCount            NaN
BathCount           NaN
Size                NaN
LotSize             NaN
BuiltInYear         NaN
dtype: float64

In [29]:
df.quantile(.75)

SalePrice      1532500.0
IsAStudio            NaN
BedCount             NaN
BathCount            NaN
Size                 NaN
LotSize              NaN
BuiltInYear          NaN
dtype: float64

### `.describe()` - Generate various summary statistics

In [30]:
df.describe()

,SalePrice,IsAStudio,BedCount,BathCount,Size,LotSize,BuiltInYear
count,1.000000e+03,986.000000,836.000000,942.000000,967.000000,556.000000,975.000000
mean,1.397423e+06,0.029412,2.572967,1.977548,1641.300931,3020.640288,1947.533333
std,1.736413e+06,0.169043,1.250891,1.130334,1027.016175,2853.430139,38.021563
min,1.000000e+00,0.000000,1.000000,1.000000,264.000000,44.000000,1870.000000
25%,8.000000e+05,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.100000e+06,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.532500e+06,NaN,NaN,NaN,NaN,NaN,NaN
max,3.270000e+07,1.000000,9.000000,14.000000,11500.000000,47916.000000,2015.000000

In [31]:
df.SalePrice.describe()

count    1.000000e+03
mean     1.397423e+06
std      1.736413e+06
min      1.000000e+00
25%      8.000000e+05
50%      1.100000e+06
75%      1.532500e+06
max      3.270000e+07
Name: SalePrice, dtype: float64

## Part C
- Boxplots

In [33]:
df.SalePrice.plot(kind = 'box', figsize = (8, 8))

RuntimeError: Python is not installed as a framework. The Mac OS X backend will not be able to function correctly if Python is not installed as a framework. See the Python documentation for more information on installing Python as a framework on Mac OS X. Please either reinstall Python as a framework, or try one of the other backends. If you are Working with Matplotlib in a virtual enviroment see 'Working with Matplotlib in Virtual environments' in the Matplotlib FAQ

In [34]:
df[ ['BedCount', 'BathCount'] ].plot(kind = 'box', figsize = (8, 8))

RuntimeError: Python is not installed as a framework. The Mac OS X backend will not be able to function correctly if Python is not installed as a framework. See the Python documentation for more information on installing Python as a framework on Mac OS X. Please either reinstall Python as a framework, or try one of the other backends. If you are Working with Matplotlib in a virtual enviroment see 'Working with Matplotlib in Virtual environments' in the Matplotlib FAQ

## Part D
- Histograms

In [ ]:
df.BedCount.plot(kind = 'hist', figsize = (8, 8))

In [ ]:
df[ ['BedCount', 'BathCount'] ].plot(kind = 'hist', figsize = (8, 8))

## Part E
- `.mode()`

### `.mode()` - Compute the mode value(s)

In [35]:
df.mode()

,Address,DateOfSale,SalePrice,IsAStudio,BedCount,BathCount,Size,LotSize,BuiltInYear
0,"1 Mono St # B, San Francisco, CA",11/20/15,1100000.0,0.0,2.0,1.0,1000.0,2495.0,1900.0
1,"150 Grand View Ave, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"1915 Diamond St, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"1954 Golden Gate Ave, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"2299 Market St APT 502, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"643 Natoma St, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"829 Folsom St UNIT 906, San Francisco, CA",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

From the [documentation](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.mode.html): Gets the mode(s) of each element along the columns.  Empty if nothing has 2+ occurrences. Adds a row for each mode per label, fills in gaps with nan.  Note that there could be multiple values returned in the columns (when more than one value share the maximum frequency), which is the reason why a dataframe is returned.

In [36]:
df.Address[df.Address == '1 Mono St # B, San Francisco, CA']

ID
59700333    1 Mono St # B, San Francisco, CA
59779608    1 Mono St # B, San Francisco, CA
Name: Address, dtype: object

In [37]:
df.Address[df.Address == '829 Folsom St UNIT 906, San Francisco, CA']

ID
123597964     829 Folsom St UNIT 906, San Francisco, CA
2121978635    829 Folsom St UNIT 906, San Francisco, CA
Name: Address, dtype: object

In [38]:
len(df[df.DateOfSale == '11/20/15'])

47

In [39]:
(df.DateOfSale == '11/20/15').sum()

47

In [40]:
bed_counts = df.BedCount.dropna().unique()

In [41]:
bed_counts

array([ 1.,  2.,  3.,  5.,  4.,  7.,  6.,  8.,  9.])

In [42]:
for bed_count in np.sort(bed_counts):
    home_count = (df.BedCount == bed_count).sum()
    print '{} homes have {} bedrooms'.format(home_count, bed_count)

142 homes have 1.0 bedrooms
316 homes have 2.0 bedrooms
226 homes have 3.0 bedrooms
103 homes have 4.0 bedrooms
28 homes have 5.0 bedrooms
9 homes have 6.0 bedrooms
6 homes have 7.0 bedrooms
3 homes have 8.0 bedrooms
3 homes have 9.0 bedrooms

Note: That's the same information we got from the histogram above.

In [ ]:
df.BedCount.isnull().sum()

Careful on checking for `nan` values:

In [ ]:
(df.BedCount == np.nan).sum()

## Part F
- `.corr()`
- Heatmaps
- Scatter plots
- Scatter matrices

In [ ]:
df.corr()

### Heatmaps

In [ ]:
plt.matshow(df.corr())

In [ ]:
corr = df.corr()

figure = plt.figure()
subplot = figure.add_subplot(1, 1, 1)
figure.colorbar(subplot.matshow(df.corr()))
subplot.set_xticklabels(corr.columns, rotation = 90)
subplot.set_yticklabels(corr.columns)
plt.show()

### Scatter plots

In [ ]:
df[ ['BedCount', 'BathCount'] ].plot(kind = 'scatter', x = 'BedCount', y = 'BathCount', s = 100, figsize = (8, 8))

### Scatter matrices

In [ ]:
pd.tools.plotting.scatter_matrix(df[ ['BedCount', 'BathCount'] ], diagonal = 'kde', s = 500, figsize = (8, 8))

In [ ]:
pd.tools.plotting.scatter_matrix(df[ ['SalePrice', 'Size'] ], s = 200, figsize = (8, 8))